body {
  background-color: #009ACB;
}

.main {
  justify-content: center;
  margin: 3% 0% 0% 0%;
}

.blog {
  position: relative;
  background-color: #ffffff;
  padding: 50px 50px 25px;
  box-shadow: 1px 1px 10px 8px #01789c;
}

.blogcontent {
  border-radius: 5px;
  font-size: 5px;
}

.blogcontent label {
  color: #000000;
  font-size: 4em;
}

/* ::-webkit-file-upload-button {
  font-size: 20px;
  color: #4682A9 !important;
} */

.title {
  height: 6vw;
  resize: none;
  border: none;
  font-weight: 600;
  font-size: 4em;
  background-color: #d7e7ec;
}

.content {
  height: 22.5vw;
  resize: none;
  border: none;
  position: relative;
  font-size: 4em;
  background-color: #d7e7ec;
}

.btns {
  color: #4682A9;
  border-radius: 20px;
  background-color: #F6F4EB;
  font-size: 15px;
  font-weight: bold;
  float: right;
}

.btn-primary {
  border: 3px solid #346383;
}

.btn-primary:not([disabled]):not(.disabled):hover {
  color: #4682A9 !important;
  background-color: #F6F4EB !important;
  border: 3px solid #346383 !important;
}

.back {
  position: absolute;
  margin: 0px 0px 0px 680px;
  z-index: 1;
  font-size: 23px;
  color: black;
}

.draft {
  margin: 0px 5px 0px 0px;
}

.form-select {
  position: absolute;
  width: 200px;
  overflow: scroll;
}

.option {
  height: 10px;
}