body{
  background-color: #F6F4EB;
}

.main {
    justify-content: center;
    margin: 3% 0% 0% 0%;
}

.blog {
  position: relative;
  background-color: #4682A9;
  border: 4px solid #346383;
  border-radius: 5px;
  padding: 5px;
}

.blogcontent {
  border-radius: 5px;
  font-size: 5px;
}

.blogcontent label {
  color: #F6F4EB;
  font-size: 6em;
}

::-webkit-file-upload-button {
  font-size: 20px;
  color: #4682A9 !important;
}

.title {
  height: 6vw;
  resize: none;
  border: none;
  font-weight: 600;
  font-size: 4em;
}

.content {
  height: 22.5vw;
  resize: none;
  border: none;
  position: relative;
  font-size: 4em;
}

.btns {
  color: #4682A9;
  border-radius: 20px;
  background-color: #F6F4EB;
  font-size: 15px;
  font-weight: bold;
}

.btn-primary {
    border: 3px solid #346383; !important;
}

.btn-primary:not([disabled]):not(.disabled).hover,
.btn-primary:not([disabled]):not(.disabled):hover {
  color: #4682A9 !important;
  background-color: #F6F4EB !important;
  border:3px solid #346383 !important;
}

.back {
  position: absolute;
  margin: 0% 0% 0% 93%;
  z-index: 1;
}

.draft{
  margin: 0% 0% 0% 62.5%;
}